target/META-INF/mule-src/successful/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="successfulFlow" doc:id="e22c490e-94b9-4d80-818c-3d005227571e" initialState="started">
		<http:listener doc:name="Listener" doc:id="efe551b4-b6b0-42f0-b859-4c54a299ce13" config-ref="HTTP_Listener_config" path="/testingpath"/>
		<logger level="INFO" doc:name="Logger" doc:id="bf2954f7-d381-407e-84c8-7d2c69fa1b2f" message="successful flow started"/>
		<http:request method="GET" doc:name="Request" doc:id="a3354f66-0e54-4416-aae8-42c27fd9d4a6" config-ref="HTTP_Request_configuration" path="${api.path}"/>
		<ee:transform doc:name="Transform Message" doc:id="3e0f9a01-3ced-451f-af8f-bae883dfa03b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="68e63fe8-7d25-4dcf-b011-585327b85815" message="#[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="c53eb759-3238-41f6-bfd2-cb9a6d834d3b" name="implementationSub_Flow"/>
		<error-handler ref="globalerrorhandlerError_Handler" />
	</flow>
</mule>
